<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net462" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net462" />
  <package id="MunkiWinchester.WpfUtility" version="0.3.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net462" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net462" />
  <package id="SpotifyAPI-NET" version="2.16.0" targetFramework="net462" />
  <package id="XAMLMarkupExtensions" version="1.2.2" targetFramework="net462" />
</packages>